#instruction-text {
    background-color: transparent;
    color: white;
    font-size: 2rem;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute
}